@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.MySkills {
  color: white;
  margin-bottom: 0px;
  text-align: center;
  padding: 12px;
  font-family: 'Roboto', ;
  padding: 100px;

  &-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &-button {
    border-radius: 5px;
    width: 30%;
    height: 35px;
    background-color:black;
    border: 0.1em solid black;
    color: #11CC9E;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 50px;

  }
  &-frontend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
  }
  &-backend {
    width: 50%;
    padding-right: 20px;
  }
  &-skillAndDescription {
    display: flex;
    justify-content: space-between;
  }
  ul {
    // To get rid of the white margin at the bottom
    margin-bottom: 0px;
  }
  li {
    font-size: 15px;
  }
}
