@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.NavBar {
  font-size: 20px;
  font-family: 'Roboto', ;
  
  a {
    color: #86AC97;
  }

  &-links {
    display: flex;
  }

}