.SiteExplanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #474B4F;
    font-family: 'Roboto', ;


    &-title {
        padding-top: 16px;
        justify-content: center;
        display: flex;
        color: #FFFFFF;
    }
    &-blurb {
        justify-content: center;
        display: flex;
        padding: 24px 50px;
        color: #FFFFFF;
    }
}