@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.SiteHeader {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 675px;
  justify-content: center;
  &-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-right {
    margin-left: 20px;
    color: #B953FF;
  }
  &-left {
    margin-right: 20px;
    color: #B953FF;
  }

  &-text {
    color: white;
    font-family: 'Nunito', ;
    font-weight: bold;
    justify-content: center;
    display: flex;
  }
  &-button {
    background-color:black;
    border: 0.1em solid black;
    padding: 15px 32px;
    color: #11CC9E;
    font-size: 24px;
    font-weight: 900;
  }
  &-buttonContainer {
    justify-content: center;
    display: flex;
    font-family: 'Roboto', ;
  }
  &-link {
    color: #11CC9E;
  }

  &-imageContainer {
    // Text align huh?
    text-align: center;
  }
}
