.Timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 100px 100px 100px 100px;

    &-timeline-inner {
        display: flex;
        justify-content: center;
    }

}